body
{
    background-color: #fff;
}

.preview
{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/teamPicture.jpg");
    background-position: center center;
    background-size: cover;
    z-index: 9;
}

.gradient
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #7b4397; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right top, #7b4397 , #dc2430); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right top, #7b4397 , #dc2430); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.8;
    z-index: 99;
}

#previewh1
{
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 6em;
    color: #fff;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 999;
}

.line-top
{
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #fff;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 999;
}

.line-bottom
{
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #fff;
    left: 50%;
    top: 60%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 999;
}

@media screen and (max-width: 1000px)
{
    #previewh1
    {
        font-size: 4em;
    }
}

@media screen and (max-width: 700px)
{
    #previewh1
    {
        font-size: 2.6em;
    }
    
    .line-top
    {
        height: 2px;
        top: 45%;
    }

    .line-bottom
    {
        height: 2px;
        top: 55%;
    }
}