.first_quote {
    content: "";
    display: table;
    clear: both; }

header, .first_quote p, .first_quote-line, .second_quote p, .second_quote-line, .projecten .grid, section.projecten, footer {
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative; }

body {
    font-size: 62.5%;
    font-family: source_sans_prolight;
    margin: O; }
body nav {
    background-color: #081925;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    color: #FFFFFF;
    z-index: 9999;
    display: none; }
body nav #logo {
    display: none; }
body nav .navigation {
    width: 100%;
    float: right;
    margin-top: 19px; }
body nav .navigation a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    font-family: AlteDIN1451Mittelschrift-Regular;
    position: relative;
    padding-bottom: 4px; }
body nav .navigation a:hover:after {
    width: 100%; }
body nav .navigation a:after {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    border-bottom: 5px solid white; }
body h2 {
    font-family: AlteDIN1451Mittelschrift-Regular;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-left: 40px; }
body .line {
    width: 80px;
    margin-left: 40px;
    height: 5px;
    background-color: black;
    margin: 10px 0px 20px 40px; }

@media (min-width: 768px) {
    body nav #logo {
        display: block;
        width: 30px;
        height: 30px;
        -webkit-background-size: 30px 30px;
        background-size: 30px 30px;
        background-position: center;
        background-image: url("../../public/img/logo_ei.svg");
        text-indent: -9999px;
        padding: 10px 0px 10px 30px;
        background-repeat: no-repeat; }
    body nav .navigation {
        width: 50%;
        margin-right: 30px;
        margin-top: -30px; } }
@media (min-width: 1200px) {
    body nav .navigation {
        width: 35%; } }
.performanceEgg {
    background-image: url("../../public/img/logo_ei.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 250px;
    margin: 0 auto;
    max-height: 90vh; }

.performanceTitle {
    font-size: 2rem;
    color: white;
    font-family: AlteDIN1451Mittelschrift-Regular;
    text-align: center;
    max-height: 10vh; }

.performanceCenter {
    max-height: 100vh; }

.bg_fixed {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/img/bg_probeer-01.svg); }

.bg-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 20;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
.bg-wrapper .link-wrapper {
    position: absolute;
    bottom: 40px;
    display: block;
    text-align: center;
    width: 100%; }
.bg-wrapper .link-wrapper #gotosite:link,
.bg-wrapper .link-wrapper #gotosite:visited,
.bg-wrapper .link-wrapper #gotosite:hover,
.bg-wrapper .link-wrapper #gotosite:active {
    text-align: center;
    text-decoration: none;
    font-family: Didot-Italic;
    color: white;
    font-size: 1rem;
    height: 40px;
    opacity: 0.7; }
.bg-wrapper .link-wrapper #gotosite:link span,
.bg-wrapper .link-wrapper #gotosite:visited span,
.bg-wrapper .link-wrapper #gotosite:hover span,
.bg-wrapper .link-wrapper #gotosite:active span {
    background-image: url(../../public/img/dot.svg);
    background-repeat: no-repeat;
    width: 2px;
    height: 2px;
    display: block;
    margin: 2px auto; }
.bg-wrapper .link-wrapper #tm_logo:link,
.bg-wrapper .link-wrapper #tm_logo:visited,
.bg-wrapper .link-wrapper #tm_logo:hover,
.bg-wrapper .link-wrapper #tm_logo:active {
    width: 130px;
    height: 54px;
    position: absolute;
    display: block;
    top: -15px;
    right: 40px;
    background-image: url("../../public/img/TM_logo_trans_web.png");
    background-repeat: no-repeat;
    background-size: cover; }

.container {
    height: auto; }
.container .landing {
    height: 0vh;
    width: 100%;
    margin-bottom: 100vh;
    background-color: transparent;
    position: relative; }
.container .landing .container-stukken {
    position: fixed;
    top: 0;
    bottom: 100px;
    font-size: 20px;
    color: white; }
.container .landing .container-stukken h1 {
    font-size: 2rem;
    color: white;
    font-family: AlteDIN1451Mittelschrift-Regular;
    text-align: center;
    margin-top: 40px;
    opacity: 0; }
.container .landing .container-stukken .animation {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
.container .landing .container-stukken .fadeIn1 {
    -webkit-animation-name: fadeIn1;
    animation-name: fadeIn1; }
@-webkit-keyframes fadeIn1 {
    0% {
        opacity: 0;
        fill: #fff; }
    20% {
        opacity: 1; }
    100% {
        opacity: 1; } }
@keyframes fadeIn1 {
    0% {
        opacity: 0;
        fill: #fff; }
    20% {
        opacity: 1; }
    100% {
        opacity: 1; } }
.container .landing .container-stukken .fadeIn2 {
    -webkit-animation-name: fadeIn2;
    animation-name: fadeIn2; }
@-webkit-keyframes fadeIn2 {
    0% {
        opacity: 0;
        fill: #fff; }
    10% {
        opacity: 0; }
    30% {
        opacity: 1; }
    100% {
        opacity: 1; } }
@keyframes fadeIn2 {
    0% {
        opacity: 0;
        fill: #fff; }
    10% {
        opacity: 0; }
    30% {
        opacity: 1; }
    100% {
        opacity: 1; } }
.container .landing .container-stukken .fadeIn3 {
    -webkit-animation-name: fadeIn3;
    animation-name: fadeIn3; }
@-webkit-keyframes fadeIn3 {
    0% {
        opacity: 0;
        fill: #fff; }
    20% {
        opacity: 0; }
    50% {
        opacity: 1; }
    100% {
        opacity: 1; } }
@keyframes fadeIn3 {
    0% {
        opacity: 0;
        fill: #fff; }
    20% {
        opacity: 0; }
    50% {
        opacity: 1; }
    100% {
        opacity: 1; } }
.container .landing .container-stukken .fadeIn4 {
    -webkit-animation-name: fadeIn4;
    animation-name: fadeIn4; }
@-webkit-keyframes fadeIn4 {
    0% {
        opacity: 0;
        fill: #fff; }
    30% {
        opacity: 0; }
    60% {
        opacity: 1; }
    100% {
        opacity: 1; } }
@keyframes fadeIn4 {
    0% {
        opacity: 0;
        fill: #fff; }
    30% {
        opacity: 0; }
    60% {
        opacity: 1; }
    100% {
        opacity: 1; } }
.container .landing .container-stukken .fadeIn5 {
    -webkit-animation-name: fadeIn5;
    animation-name: fadeIn5; }
@-webkit-keyframes fadeIn5 {
    0% {
        opacity: 0;
        fill: #fff; }
    40% {
        opacity: 0; }
    70% {
        opacity: 1; }
    100% {
        opacity: 1; } }
@keyframes fadeIn5 {
    0% {
        opacity: 0;
        fill: #fff; }
    40% {
        opacity: 0; }
    70% {
        opacity: 1; }
    100% {
        opacity: 1; } }
.container .landing .container-stukken .fadeIn6 {
    -webkit-animation-name: fadeIn6;
    animation-name: fadeIn6; }
@-webkit-keyframes fadeIn6 {
    0% {
        opacity: 0;
        fill: #fff; }
    50% {
        opacity: 0; }
    80% {
        opacity: 1; }
    100% {
        opacity: 1; } }
@keyframes fadeIn6 {
    0% {
        opacity: 0;
        fill: #fff; }
    50% {
        opacity: 0; }
    80% {
        opacity: 1; }
    100% {
        opacity: 1; } }
.container .landing .container-stukken .fadeIn7 {
    -webkit-animation-name: fadeIn7;
    animation-name: fadeIn7; }
@-webkit-keyframes fadeIn7 {
    0% {
        opacity: 0;
        fill: #fff; }
    60% {
        opacity: 0; }
    90% {
        opacity: 1; }
    100% {
        opacity: 1; } }
@keyframes fadeIn7 {
    0% {
        opacity: 0;
        fill: #fff; }
    60% {
        opacity: 0; }
    90% {
        opacity: 1; }
    100% {
        opacity: 1; } }
.container .landing .container-stukken .fadeIn8 {
    -webkit-animation-name: fadeIn8;
    animation-name: fadeIn8; }
@-webkit-keyframes fadeIn8 {
    0% {
        opacity: 0;
        fill: #fff; }
    70% {
        opacity: 0; }
    100% {
        opacity: 1; } }
@keyframes fadeIn8 {
    0% {
        opacity: 0;
        fill: #fff; }
    70% {
        opacity: 0; }
    100% {
        opacity: 1; } }
.container .landing .container-stukken .dot {
    width: 9px;
    height: 9px;
    position: absolute;
    background-image: url(../../public/img/dot.svg);
    background-repeat: no-repeat;
    opacity: 0; }
.container .landing .container-stukken #dot1 {
    top: 2px;
    left: 117px; }
.container .landing .container-stukken #dot2 {
    top: 35px;
    left: 187px; }
.container .landing .container-stukken #dot3 {
    top: 76px;
    left: 25px; }
.container .landing .container-stukken #dot4 {
    top: 111px;
    left: 101px; }
.container .landing .container-stukken #dot5 {
    top: 146px;
    left: 96px; }
.container .landing .container-stukken #dot6 {
    top: 107px;
    left: 130px; }
.container .landing .container-stukken #dot7 {
    top: 147px;
    left: 238px; }
.container .landing .container-stukken #dot8 {
    top: 198px;
    left: 2px; }
.container .landing .container-stukken #dot9 {
    top: 282px;
    left: 45px; }
.container .landing .container-stukken #dot10 {
    top: 263px;
    left: 149px; }
.container .landing .container-stukken #dot11 {
    top: 209px;
    left: 207px; }
.container .landing .container-stukken #dot12 {
    top: 306px;
    left: 160px; }
.container .landing .container-stukken .eiAchtergrond {
    background-repeat: no-repeat;
    width: 250px;
    height: 322px;
    opacity: 0.5; }
.container .landing .container-stukken .final {
    opacity: 0; }
.container .landing .container-stukken #stuk1final {
    width: 93px;
    height: 72px;
    position: absolute;
    top: 7px;
    left: 29px; }
.container .landing .container-stukken #stuk1t {
    width: 93px;
    height: 72px;
    position: absolute;
    background-image: url(../../public/img/stukken_ei/stuk1t.svg);
    background-repeat: no-repeat; }
.container .landing .container-stukken #stuk1 {
    background-image: url(../../public/img/stukken_ei/stuk1.svg);
    background-repeat: no-repeat;
    width: 93px;
    height: 72px;
    position: absolute;
    -webkit-transition: top,left 100ms;
    -moz-transition: top,left 100ms;
    -ms-transition: top,left 100ms;
    -o-transition: top,left 100ms;
    transition: top,left 100ms; }
.container .landing .container-stukken #stuk2final {
    width: 98px;
    height: 130px;
    position: absolute;
    top: 80px;
    left: 4px; }
.container .landing .container-stukken #stuk2t {
    width: 98px;
    height: 130px;
    position: absolute;
    background-image: url(../../public/img/stukken_ei/stuk2t.svg);
    background-repeat: no-repeat; }
.container .landing .container-stukken #stuk2 {
    background-image: url(../../public/img/stukken_ei/stuk2.svg);
    background-repeat: no-repeat;
    width: 98px;
    height: 130px;
    position: absolute;
    -webkit-transition: top,left 100ms;
    -moz-transition: top,left 100ms;
    -ms-transition: top,left 100ms;
    -o-transition: top,left 100ms;
    transition: top,left 100ms; }
.container .landing .container-stukken #stuk3final {
    width: 100px;
    height: 74px;
    position: absolute;
    top: 79px;
    left: 28px; }
.container .landing .container-stukken #stuk3t {
    width: 100px;
    height: 74px;
    position: absolute;
    background-image: url(../../public/img/stukken_ei/stuk3t.svg);
    background-repeat: no-repeat; }
.container .landing .container-stukken #stuk3 {
    background-image: url(../../public/img/stukken_ei/stuk3.svg);
    background-repeat: no-repeat;
    width: 100px;
    height: 74px;
    position: absolute;
    -webkit-transition: top,left 100ms;
    -moz-transition: top,left 100ms;
    -ms-transition: top,left 100ms;
    -o-transition: top,left 100ms;
    transition: top,left 100ms; }
.container .landing .container-stukken #stuk4final {
    width: 100px;
    height: 110px;
    position: absolute;
    top: 7px;
    left: 30px; }
.container .landing .container-stukken #stuk4t {
    width: 100px;
    height: 110px;
    position: absolute;
    background-image: url(../../public/img/stukken_ei/stuk4t.svg);
    background-repeat: no-repeat; }
.container .landing .container-stukken #stuk4 {
    background-image: url(../../public/img/stukken_ei/stuk4.svg);
    background-repeat: no-repeat;
    width: 100px;
    height: 110px;
    position: absolute;
    -webkit-transition: top,left 100ms;
    -moz-transition: top,left 100ms;
    -ms-transition: top,left 100ms;
    -o-transition: top,left 100ms;
    transition: top,left 100ms; }
.container .landing .container-stukken #stuk5final {
    width: 119px;
    height: 147px;
    position: absolute;
    top: 5px;
    left: 100px; }
.container .landing .container-stukken #stuk5t {
    width: 119px;
    height: 147px;
    position: absolute;
    background-image: url(../../public/img/stukken_ei/stuk5t.svg);
    background-repeat: no-repeat; }
.container .landing .container-stukken #stuk5 {
    background-image: url(../../public/img/stukken_ei/stuk5.svg);
    background-repeat: no-repeat;
    width: 119px;
    height: 147px;
    position: absolute;
    -webkit-transition: top,left 100ms;
    -moz-transition: top,left 100ms;
    -ms-transition: top,left 100ms;
    -o-transition: top,left 100ms;
    transition: top,left 100ms; }
.container .landing .container-stukken #stuk6final {
    width: 111px;
    height: 119px;
    position: absolute;
    top: 39px;
    left: 133px; }
.container .landing .container-stukken #stuk6t {
    width: 111px;
    height: 119px;
    position: absolute;
    background-image: url(../../public/img/stukken_ei/stuk6t.svg);
    background-repeat: no-repeat; }
.container .landing .container-stukken #stuk6 {
    background-image: url(../../public/img/stukken_ei/stuk6.svg);
    background-repeat: no-repeat;
    width: 111px;
    height: 119px;
    position: absolute;
    -webkit-transition: top,left 100ms;
    -moz-transition: top,left 100ms;
    -ms-transition: top,left 100ms;
    -o-transition: top,left 100ms;
    transition: top,left 100ms; }
.container .landing .container-stukken #stuk7final {
    width: 95px;
    height: 134px;
    position: absolute;
    top: 152px;
    left: 6px; }
.container .landing .container-stukken #stuk7t {
    width: 95px;
    height: 134px;
    position: absolute;
    background-image: url(../../public/img/stukken_ei/stuk7t.svg);
    background-repeat: no-repeat; }
.container .landing .container-stukken #stuk7 {
    background-image: url(../../public/img/stukken_ei/stuk7.svg);
    background-repeat: no-repeat;
    width: 95px;
    height: 134px;
    position: absolute;
    -webkit-transition: top,left 100ms;
    -moz-transition: top,left 100ms;
    -ms-transition: top,left 100ms;
    -o-transition: top,left 100ms;
    transition: top,left 100ms; }
.container .landing .container-stukken #stuk8final {
    width: 109px;
    height: 137px;
    position: absolute;
    top: 151px;
    left: 47px; }
.container .landing .container-stukken #stuk8t {
    width: 109px;
    height: 137px;
    position: absolute;
    background-image: url(../../public/img/stukken_ei/stuk8t.svg);
    background-repeat: no-repeat; }
.container .landing .container-stukken #stuk8 {
    background-image: url(../../public/img/stukken_ei/stuk8.svg);
    background-repeat: no-repeat;
    width: 109px;
    height: 137px;
    position: absolute;
    -webkit-transition: top,left 100ms;
    -moz-transition: top,left 100ms;
    -ms-transition: top,left 100ms;
    -o-transition: top,left 100ms;
    transition: top,left 100ms; }
.container .landing .container-stukken #stuk9final {
    width: 59px;
    height: 157px;
    position: absolute;
    top: 111px;
    left: 100px; }
.container .landing .container-stukken #stuk9t {
    width: 59px;
    height: 157px;
    position: absolute;
    background-image: url(../../public/img/stukken_ei/stuk9t.svg);
    background-repeat: no-repeat; }
.container .landing .container-stukken #stuk9 {
    background-image: url(../../public/img/stukken_ei/stuk9.svg);
    background-repeat: no-repeat;
    width: 59px;
    height: 157px;
    position: absolute;
    -webkit-transition: top,left 100ms;
    -moz-transition: top,left 100ms;
    -ms-transition: top,left 100ms;
    -o-transition: top,left 100ms;
    transition: top,left 100ms; }
.container .landing .container-stukken #stuk10final {
    width: 108px;
    height: 104px;
    position: absolute;
    top: 111px;
    left: 135px; }
.container .landing .container-stukken #stuk10t {
    width: 108px;
    height: 104px;
    position: absolute;
    background-image: url(../../public/img/stukken_ei/stuk10t.svg);
    background-repeat: no-repeat; }
.container .landing .container-stukken #stuk10 {
    background-image: url(../../public/img/stukken_ei/stuk10.svg);
    background-repeat: no-repeat;
    width: 108px;
    height: 104px;
    position: absolute;
    -webkit-transition: top,left 100ms;
    -moz-transition: top,left 100ms;
    -ms-transition: top,left 100ms;
    -o-transition: top,left 100ms;
    transition: top,left 100ms; }
.container .landing .container-stukken #stuk11final {
    width: 80px;
    height: 159px;
    position: absolute;
    top: 110px;
    left: 133px; }
.container .landing .container-stukken #stuk11t {
    width: 80px;
    height: 159px;
    position: absolute;
    background-image: url(../../public/img/stukken_ei/stuk11t.svg);
    background-repeat: no-repeat; }
.container .landing .container-stukken #stuk11 {
    background-image: url(../../public/img/stukken_ei/stuk11.svg);
    background-repeat: no-repeat;
    width: 80px;
    height: 159px;
    position: absolute;
    -webkit-transition: top,left 100ms;
    -moz-transition: top,left 100ms;
    -ms-transition: top,left 100ms;
    -o-transition: top,left 100ms;
    transition: top,left 100ms; }
.container .landing .container-stukken #stuk12final {
    width: 116px;
    height: 54px;
    position: absolute;
    top: 267px;
    left: 49px; }
.container .landing .container-stukken #stuk12t {
    width: 116px;
    height: 54px;
    position: absolute;
    background-image: url(../../public/img/stukken_ei/stuk12t.svg);
    background-repeat: no-repeat; }
.container .landing .container-stukken #stuk12 {
    background-image: url(../../public/img/stukken_ei/stuk12.svg);
    background-repeat: no-repeat;
    width: 116px;
    height: 54px;
    position: absolute;
    -webkit-transition: top,left 100ms;
    -moz-transition: top,left 100ms;
    -ms-transition: top,left 100ms;
    -o-transition: top,left 100ms;
    transition: top,left 100ms; }
.container .landing .container-stukken #stuk13final {
    width: 100px;
    height: 98px;
    position: absolute;
    top: 213px;
    left: 153px; }
.container .landing .container-stukken #stuk13t {
    width: 100px;
    height: 98px;
    position: absolute;
    background-image: url(../../public/img/stukken_ei/stuk13t.svg);
    background-repeat: no-repeat; }
.container .landing .container-stukken #stuk13 {
    background-image: url(../../public/img/stukken_ei/stuk13.svg);
    background-repeat: no-repeat;
    width: 100px;
    height: 98px;
    position: absolute;
    -webkit-transition: top,left 100ms;
    -moz-transition: top,left 100ms;
    -ms-transition: top,left 100ms;
    -o-transition: top,left 100ms;
    transition: top,left 100ms; }
.container .landing .container-stukken #stuk14final {
    width: 105px;
    height: 159px;
    position: absolute;
    top: 151px;
    left: 164px; }
.container .landing .container-stukken #stuk14t {
    width: 105px;
    height: 159px;
    position: absolute;
    background-image: url(../../public/img/stukken_ei/stuk14t.svg);
    background-repeat: no-repeat; }
.container .landing .container-stukken #stuk14 {
    background-image: url(../../public/img/stukken_ei/stuk14.svg);
    background-repeat: no-repeat;
    width: 105px;
    height: 159px;
    position: absolute;
    -webkit-transition: top,left 100ms;
    -moz-transition: top,left 100ms;
    -ms-transition: top,left 100ms;
    -o-transition: top,left 100ms;
    transition: top,left 100ms; }

@media (min-width: 768px) {
    .container .landing {
        height: 200vh;
        margin-bottom: 0; } }
header {
    max-width: 1200px;
    width: 100%;
    padding: 40px 0px; }
header #calltoaction {
    font-weight: bold;
    text-decoration: none;
    color: black; }
header .left h1 {
    font-family: Didot-Italic;
    font-size: 2rem;
    padding-left: 50px;
    padding-bottom: 40px;
    float: left; }
header p {
    clear: both;
    font-family: source_sans_prolight;
    padding: 0px 40px 20px 40px;
    font-size: 1rem;
    line-height: 1.4rem; }
header img {
    width: 150px;
    padding-left: 50px;
    padding-bottom: 40px;
    padding-right: 50px; }

.first_quote {
    width: 100%;
    height: 120px;
    background-image: url(../../public/img/bg_quote.png);
    background-position: center center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px; }
.first_quote p {
    color: white;
    width: 80%;
    font-size: 1.5rem;
    font-family: AlteDIN1451Mittelschrift-Regular;
    margin-top: 10px; }
.first_quote p span {
    font-family: Didot-Italic;
    font-size: 1.5rem;
    line-height: 2.2rem; }
.first_quote-line {
    height: 1.5px;
    background-color: white;
    width: 120px;
    margin-top: 15px; }

@media (min-width: 640px) and (max-width: 768px) {
    header {
        padding: 60px 0px; }

    .first_quote p {
        font-size: 1.9rem; } }
@media (min-width: 768px) {
    header .left {
        float: left;
        width: 40%; }
    header .right {
        float: left;
        width: 57%;
        margin-right: 3%;
        padding-bottom: 30px; }
    header img {
        padding-top: 170px; } }
/*PROCESLIJN*/
.watwedoen {
    display: none;
    width: 100%;
    height: 320px;
    padding-top: 50px; }
.watwedoen h3 {
    font-family: Didot-Italic;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 10px 0px 10px 40px;
    margin: 0 auto; }
.watwedoen .onderzoek {
    font-size: 1rem;
    padding-bottom: 10px;
    padding: 10px 40px 0px 40px; }

.watwedoen-werkwijze-werklijn {
    margin: auto;
    margin-bottom: -12px;
    margin-top: 40px;
    height: 10px;
    /*	width: 70%;*/
    width: 80%;
    max-width: 768px;
    border-bottom: 1px black solid; }

/*BOLLEN*/
.watwedoen-werkwijze {
    height: 30px;
    margin: auto;
    /*	width: 70%;*/
    width: 80%;
    max-width: 768px;
    text-align: justify; }

.watwedoen-werkwijze div {
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;
    transition: all 0.3s ease; }

.bol:hover {
    background-color: black; }

.binbol {
    float: none;
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-family: AlteDIN1451Mittelschrift-Regular;
    cursor: pointer; }

.binbol:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0.2;
    font-size: 10px;
    color: white; }

.watwedoen-werkwijze:after {
    content: '';
    width: 100%;
    /* Ensures there are at least 2 lines of text, so justification works */
    display: inline-block; }

/*class ticked: active*/
.ticked {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
    background-color: lightgrey;
    font-size: 10px;
    color: white; }

.ticked > div {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5); }

.ticked > div:hover {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5); }

.ticked:hover {
    background-color: lightgrey; }

/*STAPWOORDEN*/
.stapwoorden {
    margin: auto;
    margin-top: 6px;
    /*	width: 70%;*/
    width: 80%;
    max-width: 768px;
    text-align: justify;
    float: none; }

.stapwoorden div {
    float: none;
    display: inline-block;
    transition: all 0.3s ease;
    color: black;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    width: auto;
    /*	background-color: green;*/
    /*	text-align: center;*/ }

.stapwoorden:after {
    content: '';
    width: 100%;
    /* Ensures there are at least 2 lines of text, so justification works */
    display: inline-block; }

/*PROCESUITLEG*/
.watwedoen > div > div > div > p {
    font-family: source_sans_prolight;
    font-size: 1rem;
    padding-bottom: 10px;
    padding: 0px 40px 0 80px;
    min-height: 95px;
    line-height: 20px; }

.watwedoen {
    float: left;
    height: auto; }

.watwedoen > div > div > div > h3 {
    line-height: 34px; }

.watwedoen > div > div > div > h3 > span {
    text-align: center;
    font-family: AlteDIN1451Mittelschrift-Regular;
    font-size: 22px;
    background-color: black;
    float: left;
    padding: 3px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: white;
    border-radius: 50%;
    margin-right: 15px; }

.watwedoencont {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100%; }

/*WERKWIJZE MOBILE*/
.watwedoen_m {
    display: inline-block;
    float: left;
    padding: 30px 40px; }

.watwedoen_m_cont {
    width: 100%;
    margin: 30px auto;
    /*	background-color: lightgrey;*/ }

.ww_m_getal {
    border-radius: 50%;
    text-align: center;
    font-family: AlteDIN1451Mittelschrift-Regular;
    font-size: 16px;
    color: white;
    line-height: 40px;
    float: left;
    background-color: grey;
    width: 41px;
    height: 41px; }

.ww_m_content {
    margin-left: 20px;
    line-height: 20px;
    height: auto;
    padding-left: 40px;
    padding-bottom: 20px;
    font-family: source_sans_prolight;
    font-size: 1rem;
    border-left: solid 1px black;
    /*	margin-left: -10px;*/ }

.noborder {
    border-left: none; }

.ww_m_cont {
    position: relative;
    height: 100%;
    float: left;
    cursor: pointer; }

.ww_m_content > h3 {
    font-family: Didot-Italic;
    line-height: 40px;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 0 auto; }

.watwedoen_m_cont > h2, .watwedoen_m_cont > .line {
    padding-left: 0;
    margin-left: 0; }

.watwedoen_m_cont > .line {
    margin-bottom: 40px; }

.m_ticked {
    background-color: black; }

/*mediaqueries*/
@media (min-width: 640px) and (max-width: 768px) {
    .watwedoen {
        display: none; }

    .watwedoen_m {
        display: block; } }
@media (min-width: 768px) {
    .watwedoen {
        display: block; }

    .watwedoen_m {
        display: none; } }
.second_quote {
    width: 100%;
    height: 120px;
    background-image: url(../../public/img/bg_quote.png);
    background-position: center center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px; }
.second_quote p {
    color: white;
    width: 80%;
    font-size: 1.9rem;
    font-family: AlteDIN1451Mittelschrift-Regular;
    margin-top: 5px; }
.second_quote p span {
    font-family: Didot-Italic;
    font-size: 1.5rem;
    line-height: 2.2rem; }
.second_quote-line {
    height: 1.5px;
    background-color: white;
    width: 120px;
    margin-top: 15px; }

.projecten {
    margin-bottom: 60px; }
.projecten .grid {
    width: 100%;
    padding-left: 40px; }
.projecten .grid .grid-item {
    width: 35vw;
    height: 20vh;
    margin-right: 10px;
    margin-top: 10px; }
.projecten .grid .grid-item--width2 {
    width: 35vw;
    height: 20vh;
    margin-right: 10px;
    margin-top: 10px; }

/*PROBEREUU*/
section.projecten {
    clear: both;
    max-width: 1200px;
    width: 100%;
    clear: both;
    padding-top: 60px;
    /* Common style */
    /* Anchor will cover the whole item by default */
    /* For some effects it will show as a button */
    /* Individual effects */
    /*---------------*/
    /***** Sadie *****/
    /*---------------*/ }
section.projecten *, section.projecten *:after, section.projecten *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
section.projecten .clearfix:before, section.projecten .clearfix:after {
    display: table;
    content: ''; }
section.projecten .clearfix:after {
    clear: both; }
section.projecten .grid div.effect-sadie {
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer; }
section.projecten .grid div.effect-sadie img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.9; }
section.projecten .grid div.effect-sadie figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
section.projecten .grid div.effect-sadie figcaption::before,
section.projecten .grid div.effect-sadie figcaption::after {
    pointer-events: none; }
section.projecten .grid div.effect-sadie figcaption,
section.projecten .grid div.effect-sadie figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
section.projecten .grid div.effect-sadie figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0; }
section.projecten .grid div.effect-sadie h4 {
    word-spacing: -0.15em;
    font-weight: 300;
    font-size: 0.9rem; }
section.projecten .grid div.effect-sadie h4 span {
    font-weight: 800; }
section.projecten .grid div.effect-sadie h4,
section.projecten .grid div.effect-sadie p {
    margin: 0; }
section.projecten .grid div.effect-sadie p {
    letter-spacing: 1px; }
section.projecten div.effect-sadie figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 80%);
    background: linear-gradient(to bottom, #081925 0%, #081925 80%);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0); }
section.projecten div.effect-sadie h4 {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); }
section.projecten div.effect-sadie figcaption::before,
section.projecten div.effect-sadie p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s; }
section.projecten div.effect-sadie p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
section.projecten div.effect-sadie:hover h4 {
    display: block;
    color: #fff;
    -webkit-transform: translate3d(0, -20%, 0) translate3d(0, -20px, 0);
    transform: translate3d(0, -20%, 0) translate3d(0, -20px, 0); }
section.projecten div.effect-sadie:hover figcaption::before,
section.projecten div.effect-sadie:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
section.projecten div.effect-sadie .nohover:hover figcaption::before,
section.projecten div.effect-sadie .nohover:hover p {
    opacity: 1; }

@media screen and (max-width: 50em) {
    .content {
        padding: 0 10px;
        text-align: center; }

    .grid div.effect-sadie {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%; } }
@media (min-width: 768px) {
    .projecten .grid .grid-item {
        display: inline-block;
        width: 31vw;
        max-width: 225px;
        max-height: 225px;
        height: 31vw; }

    .projecten .grid .grid-item--width2 {
        width: 31vw;
        max-width: 225px;
        max-height: 225px;
        height: 31vw;
        display: inline-block; }

    section.projecten .grid div.effect-sadie h4 {
        font-size: 1rem; } }
@media (min-width: 1200px) {
    .projecten .grid .grid-item {
        width: 21vw;
        max-width: 270px;
        max-height: 270px;
        height: 21vw;
        display: inline-block; }

    .projecten .grid .grid-item--width2 {
        width: 21vw;
        max-width: 270px;
        max-height: 270px;
        height: 21vw;
        display: inline-block; }

    section.projecten .grid div.effect-sadie h4 {
        font-size: 1.6rem; } }
.team {
    padding-top: 60px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    background-color: white; }

.teamcont {
    padding: 0 40px;
    width: auto; }

.teamlist {
    width: 100%;
    /*	background-color: grey;*/
    display: inline-block;
    position: relative; }

.teamlist > li {
    background-color: white;
    display: inline-block;
    background-size: 100%;
    background-position: center;
    width: 50%;
    float: left;
    overflow: hidden;
    position: relative;
    transition: all .2s ease-in-out;
    background-repeat: no-repeat; }

.teamlist > li:hover {
    transition: all .2s ease-in-out;
    background-size: 110%;
    background-position: center; }

.teamlist > li:before {
    content: "";
    display: block;
    padding-top: 150%;
    overflow: hidden;
    background-color: grey;
    float: left; }

.teamdesc {
    position: absolute;
    display: block;
    background-color: none;
    width: 100%;
    float: left;
    bottom: 0;
    padding: 15px 0;
    z-index: 100; }

.overlay {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #353535;
    opacity: 0.5;
    position: absolute; }

.name, .job {
    display: block;
    color: white;
    text-align: center;
    width: 100%; }

.name {
    font-family: AlteDIN1451Mittelschrift-Regular;
    font-size: 1.2rem;
    text-transform: uppercase; }

.job {
    line-height: 18px;
    font-family: Didot-Italic;
    font-size: 0.8rem; }

.team_sm {
    display: block;
    width: 80px;
    margin: 5px auto 0 auto; }

.team_sm > li > a {
    border-radius: 50%;
    display: block;
    float: left;
    height: 20px;
    width: 20px;
    background-size: cover;
    z-index: 100;
    transition: all .2s ease-in-out; }

.t_fb {
    background-image: url("../../public/img/t_fb.svg"); }

.t_twitter {
    margin: 0 10px;
    background-image: url("../../public/img/t_twitter.svg"); }

.t_linkedin {
    background-image: url("../../public/img/t_linkedin.svg"); }

/*teamfoto's*/
.ande {
    background-image: url("../../public/img/team/ande.jpeg"); }

.david {
    background-image: url("../../public/img/team/david.jpeg"); }

.glenn {
    background-image: url("../../public/img/team/glenn.jpeg"); }

.ian {
    background-image: url("../../public/img/team/ian.jpeg"); }

.jasper {
    background-image: url("../../public/img/team/jasper.jpeg"); }

.marijn {
    background-image: url("../../public/img/team/marijn.jpeg"); }

.nadine {
    background-image: url("../../public/img/team/nadine.jpeg"); }

.nick {
    background-image: url("../../public/img/team/nick.jpeg"); }

.robby {
    background-image: url("../../public/img/team/robby.jpeg"); }

.sara {
    background-image: url("../../public/img/team/sara.jpeg"); }

.thais {
    background-image: url("../../public/img/team/thais.jpeg"); }

.tom {
    background-image: url("../../public/img/team/tom.jpeg"); }

.twix {
    background-image: url("../../public/img/team/twix.jpeg"); }

.veerle {
    background-image: url("../../public/img/team/veerle.jpeg"); }

/*mediaqueries*/
@media (min-width: 640px) and (max-width: 768px) {
    .teamlist > li {
        width: 50%; } }
@media (min-width: 768px) {
    .teamlist > li {
        width: 25%; } }
@media (min-width: 1200px) {
    .teamlist > li {
        width: 14.28%; } }
div#contactnav {
    width: 100%;
    background-image: url("../../public/img/contactform_bg.svg"), none;
    background-color: #081925;
    repeat: none;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 50%; }

footer {
    /*mobile*/
    max-width: 1200px;
    width: 100%;
    color: white;
    font-size: 1rem;
    /*placeholder styling*/ }
footer .error {
    background-color: #ff5a5a; }
footer label.error {
    display: none !important; }
footer h2 {
    padding-left: 0px; }
footer .line {
    margin-left: 0px;
    background-color: white;
    margin-bottom: 50px; }
footer #radios {
    margin-bottom: 50px; }
footer #radios .radiotxt {
    padding-left: 20px; }
footer #radios input {
    margin-bottom: 15px; }
footer textarea {
    width: 100%;
    border: 0;
    color: black;
    border: none;
    overflow: auto;
    outline: none;
    padding-left: 10px;
    padding-top: 10px;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
footer #emailadres {
    width: 100%;
    height: 40px;
    border: 0;
    margin-top: -3px;
    border-top: 1px solid black;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
footer ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: black;
    font-style: italic; }
footer :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: black;
    opacity: 1;
    font-style: italic; }
footer ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: black;
    opacity: 1;
    font-style: italic; }
footer :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
    font-style: italic; }
footer #btnbericht {
    text-align: center;
    width: 100%;
    height: 40px;
    border: 0;
    background-color: white;
    margin-top: 25px;
    text-transform: uppercase;
    cursor: pointer; }
footer #socialMedia {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    height: 50px;
    width: 180px;
    margin-top: 60px;
    margin-bottom: 40px; }
footer #socialMedia li {
    border-radius: 50%;
    margin: 0;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    list-style: none;
    background: #262626;
    border: 1px solid #1e1e1e; }
footer #socialMedia li#linkedIn {
    margin-right: 0px; }
footer #socialMedia li a {
    display: block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-indent: -9999px;
    background-repeat: no-repeat; }
footer #socialMedia li a:hover {
    background-color: #eb4328;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }
footer ul#socialMedia li#twitter a {
    background-image: url("../../public/img/twitter.svg"), none;
    background-color: #20a8e2; }
footer ul#socialMedia li#facebook a {
    background-image: url("../../public/img/facebook.svg"), none;
    background-color: #3a589c; }
footer ul#socialMedia li#linkedIn a {
    background-image: url("../../public/img/linkedin.svg"), none;
    background-color: #0071b3; }
footer #visitekaartje p {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px; }
footer #visitekaartje #company {
    text-align: center; }
footer #visitekaartje #address {
    padding-left: 65px; }
footer #visitekaartje #projectby p {
    /*padding-left: 65px;*/
    text-align: center; }
footer #visitekaartje #projectby #tmlogo {
    text-indent: -9999px;
    display: block;
    background-image: url("../../public/img/TM_logo.png");
    width: 128.25px;
    height: 50px;
    background-size: 128.25px 50px;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-bottom: 20px; }
footer #visitekaartje #projectby #tmlink {
    display: none; }
@media (min-width: 801px) {
    footer {
        height: 660px;
        background-position: right bottom;
        background-size: 500px; }
    footer textarea {
        width: 70%;
        height: 165px; }
    footer #emailadres {
        width: 70%; }
    footer #btnbericht {
        clear: left;
        width: 200px; }
    footer #socialMedia {
        width: 156px;
        margin-top: -42px; }
    footer #socialMedia {
        height: 42px; }
    footer #socialMedia li {
        height: 42px;
        width: 42px; }
    footer #socialMedia li a {
        height: 42px;
        width: 42px; }
    footer #visitekaartje {
        margin-top: -312px;
        float: right;
        width: 160px;
        text-align: left; }
    footer #visitekaartje #company {
        text-align: left; }
    footer #visitekaartje p {
        width: 160px; }
    footer #visitekaartje #projectby p {
        text-align: left; }
    footer #visitekaartje #projectby #tmlogo {
        width: 160px;
        margin-left: 0;
        margin-right: 0; }
    footer #visitekaartje #address {
        padding-left: 0px; } }
@media (min-width: 1024px) {
    footer textarea {
        width: 661px;
        height: 165px; }
    footer #emailadres {
        width: 661px; }
    footer #socialMedia {
        margin-left: 509px;
        margin-right: 0; }
    footer #visitekaartje {
        float: left;
        margin-left: 750px; } }

.footercont {
    max-width: 1200px;
    margin: auto;
    padding: 50px 40px 0px 40px; }

footer {
    width: 100%; }

.portfolio-modal .modal-content {
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
    /*overflow hidden en fixed gaan niet samen
    FIND SOLUTION!*/
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    z-index: 9999;
    font-size: 20px; }
.portfolio-modal .modal-content .modal-container {
    padding: 40px; }
.portfolio-modal .modal-content h3 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 21px;
    width: 100%;
    text-align: center; }
.portfolio-modal .modal-content h4 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center; }
.portfolio-modal .modal-content p {
    margin-bottom: 10px;
    width: 100%;
    text-align: center; }
.portfolio-modal .modal-content img {
    margin-top: 20px; }
.portfolio-modal .modal-content a {
    text-decoration: none;
    color: black; }
.portfolio-modal .modal-content .modal-close {
    font-size: 200%;
    color: red; }
.portfolio-modal .modal-content .close {
    width: 20px;
    height: 20px;
    background: none;
    font-size: 16px;
    color: #fff;
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-image: url("../../public/img/close_modal.png");
    background-size: 20px 20px;
    float: right;
    margin-top: 11px; }
.portfolio-modal .modal-content .modal-text {
    width: 80%;
    margin: 0 auto; }
.portfolio-modal .modal-content .wrapper_project_image {
    width: 100%;
    display: block; }
.portfolio-modal .modal-content .modal-image {
    margin-top: 20px;
    max-width: 100%;
    max-height: 350px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block; }
.portfolio-modal .modal-content .modal-web-link, .portfolio-modal .modal-content .modal-web-pdf {
    width: 40px;
    height: 40px;
    background-image: url("../../public/img/web_icon.svg");
    display: inline-block;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    margin-top: 20px; }
.portfolio-modal .modal-content .modal-web-pdf {
    background-image: url("../../public/img/pdf_icon.png");
    margin-left: 0px; }
.portfolio-modal .modal-content .modal-prev, .portfolio-modal .modal-content .modal-next {
    margin-left: 30px;
    width: 40px;
    height: 40px;
    background-image: url("../../public/img/prev_item.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 23px 40px; }
.portfolio-modal .modal-content .modal-next {
    background-image: url("../../public/img/next_item.png"); }
.portfolio-modal .modal-content .wrapper_project_links {
    width: 100%; }
.portfolio-modal .modal-content .wrapper_project_links ul {
    width: 200px;
    margin: 0 auto; }
.portfolio-modal .modal-content .wrapper_project_links ul.tweenav {
    width: 150px; }
.portfolio-modal .modal-content .wrapper_project_links a {
    text-align: center;
    margin-top: 20px; }
.portfolio-modal .modal-content .wrapper_project_links li {
    display: inline-block; }

.fade.in {
    position: relative;
    overflow: hidden;
    margin-left: 0; }

.fade {
    /*opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;*/
    margin-left: -100%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }

.overflowclick {
    overflow: hidden; }

@media (min-width: 640px) {
    .portfolio-modal .modal-content img {
        margin-top: 0px; } }
@media (min-width: 768px) {
    .modal-text {
        width: 60%;
        margin: 0 auto; } }
.IE-fallback {
    width: 100%;
    height: 100vh;
    background: #081925;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/img/bg_probeer-01.svg);
    display: none; }

.logo-IE {
    width: 400px;
    margin: 0 auto; }
.logo-IE-img {
    float: left;
    width: 100%;
    text-align: center; }
.logo-IE-img img {
    margin-top: 150px;
    width: 50%; }
.logo-IE-tekst {
    width: 100%;
    text-align: center;
    margin-top: 25px;
    float: left;
    font-size: 2rem;
    color: white;
    font-family: source_sans_prolight; }

a#tm_logo {
    width: 130px;
    height: 54px;
    position: absolute;
    display: block;
    bottom: 25px;
    right: 40px;
    background-image: url("../../public/img/TM_logo_trans_web.png");
    background-repeat: no-repeat;
    background-size: cover; }

a#gotosite {
    position: absolute;
    text-align: center;
    text-decoration: none;
    font-family: Didot-Italic;
    color: white;
    left: 50%;
    bottom: 0;
    font-size: 1rem;
    height: 40px;
    opacity: 0.7; }